<div class="main-layout">
  <div class="main-layout__bg">
    <div class="main-layout__header">
      <div class="logo" routerLink="/home">
        <img src="assets/left.home.svg" alt="" />
        <span class="text">Johandev</span><span class="dot">.</span><span class="text">me</span>
        <img src="assets/right.home.svg" alt="" />
      </div>
    </div>

    <div class="main-layout__content">
      <div class="tl__body">
        <div class="tl__line"></div>

        @for (item of timelineData(); track item.id; let i = $index;) {
          <div class="tl__entry" #entry>

            <div class="tl__entry__left">
              <span class="tl__entry__left__company">{{ item.company }}</span>
              <span class="tl__entry__left__year">{{ item.year }}</span>
            </div>

            <div class="tl__entry__dot" (click)="onDotClick($event)">
              <div class="tl__entry__dot__ring"></div>
              <div class="tl__entry__dot__core"></div>
            </div>

            <div class="tl__entry__right">
              <h3 class="tl__entry__right__role">{{ item.role }}</h3>
              @if (item.description) {
                <p><span class="label">Summary :</span>  <span>{{ item.description }}</span></p>
              }
              @if (item.front) {
                <p><span class="label">Stack-Front :</span> <span>{{ item.front }}</span></p>
              }
              @if (item.back) {
                <p><span class="label">Stack-Backend :</span> <span>{{ item.back }}</span> </p>
              }
              @if (item.devops) {
                <p><span class="label">Stack-Devpos :</span>  <span>{{ item.devops }}</span></p>
              }
              @if (item.methodology) {
                <p><span class="label">Metodología :</span>  <span>{{ item.methodology }}</span></p>
              }
            </div>

          </div>
        }
      </div>
    </div>
  </div>
</div>
