@use "../../theme/var.style" as *;
@use "../../theme/mixin.responsive" as *;
@use "../../theme/mixin.noise" as *;
.main-layout{
  //height: 100vh;
  color: $textColor;


  &__bg{
    height: inherit;
    @include animated-noise;
  }
  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include mobile{
      justify-content: center;
    }

    .logo {
      font-size: 24px;
      color: white;
      padding: 20px;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      font-weight: 700;
      line-height: 70px;
      letter-spacing: 0;
      text-align: center;
      cursor: pointer;

      svg{
        width: 18px !important;
        height: 30px !important;
      }
    }



    .dot {
      color: $primaryColor;
    }
  }
  &__content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include xl{
      //padding-top: 250px;
    }

    .blur-circle {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 77px;
      width: 700px;
      height: 700px;
      border-radius: 50%;
      /* fondo semitransparente */
      background: rgba(255, 255, 255, 0.2) linear-gradient(
          357.72deg,
          rgba(114, 67, 255, 0.2) 37.36%,
          #7243FF 77.11%,
          #7243FF 87.44%,
          #9A78FF 95.89%
      );
      filter: blur(64px); /* difuminado suave */
      opacity: 0.9;
      z-index: 0;

      backdrop-filter: blur(10px);      /* difumina lo que está detrás */
      -webkit-backdrop-filter: blur(10px); /* para compatibilidad en Safari */

      @include xl {
        //width: 1200px;
        //height: 1200px;

      }
      @include mobile {
        width: 400px;
      }
    }


  }

}


.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  padding-right: 10px;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;       /* color del scroll */
    border-radius: 4px;
  }


}


