<div class="main-layout">
  <div class="main-layout__bg">
    <div class="main-layout__header">
      <div class="logo" routerLink="/home">
        <img src="assets/left.home.svg" alt="">
        <span class="text">Johandev</span><span class="dot">.</span><span class="text">me</span>
        <img src="assets/right.home.svg" alt="">
      </div>
    </div>
    <div class="main-layout__content">
      <div class="main-layout__content__chat">

        <img src="assets/profile.svg" alt="profile">
          <h3>Hola!</h3>
        <p>En que te puedo ayudar?</p>
        <div class="main-layout__content__chat__history" #chatHistory>
          @for ( history of histories;track $index){
            <div  class="chat-bubble"
                  [ngClass]="{
        'chat-bubble--user': history.user,
        'chat-bubble--bot': history.bot
      }">
              @if (history.bot){

                <img src="assets/ia.chat.svg" alt="ia.chat">

              }
              <span>{{ history.message }}@if(history.typing){<span class="cursor">|</span>}</span>



            </div>

          }
          @if (loading) {
            <div class="chat-bubble chat-bubble--bot">
              <img src="assets/ia.chat.svg" alt="ia.chat">
              <span class="typing-dots">
                <span></span><span></span><span></span>
              </span>
            </div>
          }
        </div>
        <div class="main-layout__content__chat__me"
             [class.loading]="loading || true"
        >
  <textarea
    [(ngModel)]="question"
    #autoTextarea
    rows="1"
    [disabled]="loading"
    (keydown.enter)="send()"
    placeholder="Escribe algo..."
    (input)="adjustHeight(autoTextarea)"
  ></textarea>
            <img (click)="send()" src="assets/send.chat.svg" alt="send.chat">



        </div>
      </div>
      <div class="blur-circle"></div>

    </div>

  </div>
</div>
